* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  max-width: 500px;
  margin: 20px;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
}

.container .tenor-gif-embed {
  max-width: 200px;
}

.container .btn {
  display: flex;
  gap: 25px;
}

.btn a {
  text-decoration: none;
  color: #111;
  background: #fff;
  padding: 10px 25px;
  border-radius: 8px;
  box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
}
.name {
  color: #ff4d6d;
  font-weight: bold;
}
body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* Background Image */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("IMG_20260123_100856.jpg") no-repeat center center/cover;
  filter: blur(1px);
  z-index: -1;
}
.yes-page::before {
  background: url("IMG-20251201-WA0029.jpg") no-repeat center center/cover !important;
}







